<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sh.camera"
    android:versionCode="2"
    android:versionName="2.2.2" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许读取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SD卡创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_jly"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        
        <activity
            android:name="com.sh.camera.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.sh.camera.FileActivity" >
        </activity>
        <activity android:name="com.sh.camera.SelectTimeActivity" >
        </activity>
        <activity android:name="com.sh.camera.SetActivity" >
        </activity>
        <activity android:name="com.sh.camera.UpdateActivity" >
        </activity>
        <activity android:name="com.sh.camera.vedioPlay.MoviePlayer" >
        </activity>

        <service android:name="com.sh.camera.service.MainService" >
        </service>

        <!-- 启动通讯Service -->
        <service
            android:name="com.sh.camera.service.ShCommService"
            android:enabled="true" />       
        <service android:name="com.sh.camera.service.MyIntentServiceSdCar" />

        <receiver android:name="com.sh.camera.receiver.StartReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sh.camera.receiver.SystemReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="com.dss.launcher.ACTION_ACC_ON" />
                <action android:name="auto.intent.action.HEARTBEAT" />
                <action android:name="com.dss.launcher.ACTION_ACC_OFF" />
                <action android:name="com.dss.app.carcall.ACTION_HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sh.camera.receiver.DSLauncherReceiver"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="com.dss.launcher.ACTION_VIDEO_PREVIEW" />
                <action android:name="com.dss.launcher.ACTION_VIDEO_PLAYBACK" />
                <action android:name="com.dss.launcher.ACTION_VIDEO_STOP_PLAYBACK" />
                <action android:name="com.dss.launcher.ACTION_REGIST_SUCCESS" />
                <action android:name="com.dss.launcher.ACTION_VIDEO_FILE_PLAYBACK" />
                <action android:name="com.dss.launcher.ACTION_TAKE_PICTURE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sh.camera.receiver.SdCardBroadCastReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.sh.camera.receiver.UsbCameraReceiver"
            android:exported="true" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.USB_CAMERA" />
            </intent-filter>
        </receiver>
    </application>

</manifest>